body{
    margin: 20px;
    font-family: 'Roboto', sans-serif;
    display: grid;
    flex-direction: column;
    background-color: #c4e0bc;
    margin-top: 40px;
}

h2{
    text-align: center;
}

p{
    text-align: center;
}

nav{
    font-size: 1.7rem;
}

nav ul{
    list-style-type: none;
    overflow: hidden;
    margin: 0;
    padding: 0;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 97%;
    font-size: 1.2rem;
}

nav li{
    float: left;
}

nav a{
    display: block;
    padding: 8px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}



nav .about{
    float: right;
}

nav .contact{
    float: right;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    /*max-width: 500px;*/ 
    height: auto;
    flex-flow: row wrap;
}

.welcome h1{
    text-align: center;
    font-size: 4rem;
}

.welcome p{
    text-align: center;
}

.info p{
    text-align: center;
}

/*Got the row and column from https://www.w3schools.com/howto/howto_css_images_side_by_side.asp
/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
    float: left;
    width: 30%;
    padding: 5px;
    padding-left: 10px;
  }
  
  /* Clear floats after image containers */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  .softPlastics{
      text-align: center;
  }



  section.seasons{
    text-align: center;
  }


.wrapper{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(150px, auto);
    text-align: center;
}

.leftT{
    grid-column: 1;
    grid-row: 1;
}

.rightT{
    grid-column: 2;
    grid-row: 1;
}
